body {
    background-color: blanchedalmond;
}

div {
    margin: 2px;
    border: 3px black solid;
}

h1 {
    text-align: center;
}

.card {
    width: 250px;
    height: auto;
    padding: 2px;
}

.selected {
    padding: 0;
    border: 2px solid blue;
}