body {
    background-color: blanchedalmond;
}

div {
    margin: 2px;
    border: 3px black solid;
}

h1 {
    text-align: center;
}

.card {
    width: 250px;
    height: auto;
    padding: 2px;
}

.selected {
    padding: 0;
    border: 2px solid blue;
}

#blackout {
    width: 100%;
    height: 100%;
    /* make sure you have set parents to a height of 100% too*/
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: gray;
    opacity: 50%;
    font-size: 1400%;
    padding-top: 20%;
    text-align: center;
        /*just to make sure its on top*/
}