

p, h4 {
    margin: auto;
}

table {
    margin: auto;
}

/* All tables */
#user_table {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0%;
    border: 2px solid rgb(60, 88, 47);
    border-radius: 5px;
}
/* Div that holds the table of active users */
#center {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    border: 2px rgb(103, 122, 95) solid;
    background-color: rgb(123, 158, 106);
}